<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
      <%= simple_form_for(resource,
                          as: resource_name,
                          url: session_path(resource_name),
                          html: {method: :post, class: "login100-form validate-form"}) do |f| %>
					<span class="login100-form-title p-b-33">
						 <h2>Profil</h2>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.error_notification %>
					</span>
        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      label: false,
                      placeholder: "EMail",
                      label_html: {class: 'hidden'},
                      input_html: {
                          autocomplete: "Email",
                          class: 'input100'
                      } %>
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1 validate-input" data-validate="Username not valid">
          <%= f.input :username,
                      required: false,
                      autofocus: true,
                      label: false,
                      placeholder: "Username",
                      label_html: {class: 'hidden'},
                      input_html: {
                          autocomplete: "Username",
                          class: 'input100'
                      } %>
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1 validate-input" data-validate="Password not valid">
          <%= f.input :current_password,
                      required: false,
                      autofocus: true,
                      label: false,
                      hint: "we need your current password to confirm your changes",
                      placeholder: "Mot de passe actuel",
                      label_html: {class: 'hidden'},
                      input_html: {
                          autocomplete: "Mot de passe actuel",
                          class: 'input100'
                      } %>
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1 validate-input" data-validate="Password not valid">
          <%= f.input :password,
                      required: false,
                      autofocus: true,
                      label: false,
                      hint: "leave it blank if you don't want to change it",
                      placeholder: "Mot de passe",
                      label_html: {class: 'hidden'},
                      input_html: {
                          autocomplete: "Mot de passe",
                          class: 'input100'
                      } %>
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1 validate-input" data-validate="Password not valid">
          <%= f.input :password_confirmation,
                      required: false,
                      autofocus: true,
                      label: false,
                      placeholder: "Confirmation",
                      label_html: {class: 'hidden'},
                      input_html: {
                          autocomplete: "Confirmation",
                          class: 'input100'
                      } %>
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>


        <div class="container-login100-form-btn m-t-20">
          <%= link_to "Supprimer mon compte", registration_path(resource_name), data: {confirm: "Are you sure?"}, class: "login100-form-btn text-white", method: :delete %>
        </div>

        <div class="container-login100-form-btn m-t-20">
          <%= f.button :submit, "éditer", class: "login100-form-btn" %>
        </div>

      <% end %>
    </div>
  </div>
</div>

