<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'login100-form validate-form') do |f| %>
					<span class="login100-form-title p-b-33">
						Account Login
					</span>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      label: false,
                      placeholder: "Email",
                      label_html: { class: 'hidden'},
                      input_html: {
                          autocomplete: "Email",
                          class: 'input100'
                      } %>
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Username is required">
          <%= f.input :username,
                      required: false,
                      autofocus: true,
                      label: false,
                      placeholder: "Username",
                      label_html: { class: 'hidden'},
                      input_html: {
                          autocomplete: "Username",
                          class: 'input100'
                      } %>
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
          <%= f.input :password,
                      required: false,
                      autofocus: true,
                      label: false,
                      placeholder: "Mot de passe",
                      label_html: { class: 'hidden'},
                      input_html: {
                          autocomplete: "Mot de passe",
                          class: 'input100'
                      } %>
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
          <%= f.input :password_confirmation,
                      required: false,
                      autofocus: true,
                      label: false,
                      placeholder: "Confirmation",
                      label_html: { class: 'hidden'},
                      input_html: {
                          autocomplete: "Confirmation",
                          class: 'input100'
                      } %>
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="container-login100-form-btn m-t-20">
            <%= f.button :submit, "S'inscrire", class: "login100-form-btn" %>
        </div>


        <div class="text-center">
						<span class="txt1">
							Déjà un compte?
						</span>


          <%= link_to 'Connection', new_user_session_path , class: "txt2 hov1" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
