
<%= simple_form_for [:admin, @rent] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="form-group">
      <label for="user_list">Liste des films</label>
      <%= select("rent", "films_user_id", @list.collect {|p| [ p.film.title + " " +p.user.email, p.id ] }, { include_blank: true }) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
