<p id="notice"><%= notice %></p>

<section class="flex-c container">
<h1>Rents</h1>

<section class="container h-50">
  <h2>Mes demandes de locations</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th colspan="">Email</th>
      <th colspan="">Film</th>
      <th colspan="">Valider ?</th>
      <th colspan="">Valider ?</th>
      <th colspan="">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= rent.films_user.user.email %></td>
        <td><%= rent.films_user.film.title %></td>
        <td><%= rent.valided ? "Oui" : "Non" %></td>
        <td><%= rent.valid_until ? rent.valid_until.strftime("%F %B %Y") : "" %></td>
        <td>
          <%= link_to 'Destroy', rent, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</section>

<%= link_to 'New Rent', new_rent_path, class: "btn btn-primary" %>

<section class="container h-50">
  <h2>Mes demandes de locations de mes films</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th colspan="">Email</th>
      <th colspan="">Film</th>
      <th colspan="">Valider ?</th>
      <th>Valide jusqu'au</th>
      <th colspan="">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @ask.each do |rent| %>
      <tr>
        <td><%= rent.user.email %></td>
        <td><%= rent.films_user.film.title %></td>
        <td><%= rent.valided ? "Oui" : "Non" %></td>
        <td><%= rent.valid_until ? rent.valid_until.strftime("%F %B %Y") : "" %></td>
        <td>
          <%= link_to 'Destroy', rent, method: :delete, data: {confirm: 'Are you sure?'} %>
          <% if !rent.valided && rent.valid_until == null %>
            <%= link_to 'Valider', valid_rent_path(rent) %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
</section>
