<p id="notice"><%= notice %></p>

<h1>User Films</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @list.each do |user_film| %>
      <tr>
        <td><%= user_film.title %></td>
        <td><%= link_to 'Show', user_film %></td>
        <td><%= link_to 'Delete', user_film_delete_path(user_film), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
