<div class="container">

<h1>Contacts</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <td>Email</td>
      <td>Sujet</td>
      <td>Date</td>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.email %></td>
        <td><%= contact.subject %></td>
        <td><%= contact.created_at %></td>
        <td><%= link_to 'Show', contact %>
        <%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
