<!--Section: Contact v.2-->
<section class="mb-4 container">

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
    a matter of hours to help you.</p>

  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 mb-md-0 mb-5">

      <%= simple_form_for(@contact) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6">
            <div class="md-form mb-0">
              <%= f.input :firstname, input_html: {
                  class: "form-control"
              }, label: "Prénom" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="md-form mb-0">
              <%= f.input :lastname,  input_html: {
                  class: "form-control"
              }, label: "Nom" %>
            </div>
          </div>
          <!--Grid column-->
        </div>
        <div class="row">
          <!--Grid column-->
          <div class="col-md-12">
            <div class="md-form mb-0">
              <%= f.input :email,  input_html: {
                  class: "form-control"
              }, label: "Email" %>
            </div>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">
          <div class="col-md-12">
            <div class="md-form mb-0">
              <%= f.input :subject,  input_html: {
                  class: "form-control"
              }, label: "Objet" %>
            </div>
          </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-12">

            <div class="md-form">
              <%= f.input :message,as: :text, input_html: {
                  class: "form-control md-textarea"
              }, rows: "4", label: "Votre message" %>
            </div>

          </div>
        </div>
        <!--Grid row-->
        <div class="text-center text-md-left mt-5">
          <%= f.button :submit,'Envoyer', class:"btn btn-primary" %>
        </div>
        <div class="status"></div>
      <% end %>
    </div>
  </div>

</section>
