<div class="container h-50">

<table style="width:100%">
  <tr>
    <th>Nom:</th>
    <td><%= @contact.lastname %></td>
  </tr>
  <tr>
    <th>Prénom:</th>
    <td><%= @contact.firstname %></td>
  </tr>
  <tr>
    <th>Email :</th>
    <td><%= @contact.email %></td>
  </tr>
  <tr>
    <th>Sujet :</th>
    <td><%= @contact.subject %></td>
  </tr>
  <tr>
    <th>Message :</th>
    <td><%= @contact.message %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
</div>
