<section class="container">

<table class="table">
  <tr>
    <!--    <th>Name:</th>-->
    <!--    <td><%#= @user.lastname %> <%#= @user.firstname %></td>-->
  </tr>
  <tr>
    <th>Titre:</th>
    <td><%= @film.title %></td>
  </tr>
  <tr>
    <th>Durée:</th>
    <td><%= @film.runtime %></td>
  </tr>
  <tr>
    <th>Budget:</th>
    <td><%= @film.budget %></td>
  </tr>
  <tr>
    <th>Genres:</th>
    <td><%= @film.genres %></td>
  </tr>
  <tr>
    <th>Description:</th>
    <td><%= @film.description %></td>
  </tr>
  <tr>
    <th>Date de sortie:</th>
    <td>
      <% if @film.realese_date != nil %>
      <%= @film.realese_date.strftime("%d %m %Y") %>
        <% end %>
        </td>
  </tr>
</table>
<%= link_to 'Back', films_path %>
</section>


