<p id="notice"><%= notice %></p>

<section class="flex-c">

<h1>Contacts</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Sujet</th>
      <th>Nom Prénom</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.email %></td>
        <td><%= contact.subject %></td>
        <td><%= contact.lastname %> <%= contact.firstname %></td>
        <td><%= link_to 'Show', admin_contact_path(contact) %>
        <%#= link_to 'Edit', edit_contact_path(contact) %>
        <%= link_to 'Destroy', admin_contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</section>
