<p id="notice"><%= notice %></p>

<section class="flex-c">

Email : <%= @contact.email %> <br>
User : <%= @contact.firstname %> <%= @contact.lastname %> <br>
Sujet :<%= @contact.subject %> <br><br>
Message <%= @contact.message %>
  <br>
<!--<%#= link_to 'Edit', edit_contact_path(@contact) %> |-->
<%= link_to 'Back', admin_contacts_path %>
</section>
