<h1>Films</h1>
<div class="container">

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Adulte ?</th>
      <th>Date de publication</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film.title %></td>
        <td><%= film.adult ? "Non" : "Oui" %></td>
        <td><%= film.realese_date ? film.realese_date.strftime("%d-%m-%Y") : Time.now.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Show', film %>
            <%#= link_to 'Edit', edit_film_path(film) %>
            <%= link_to 'Destroy', film, method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <% page = request.params[:page].to_i %>
    <% page = page == nil ? 0 : page %>
    <ul class="pagination">
      <li class="page-item
        <% if page == 1 %>disabled
        <% end %>"><a class="page-link" href="?page=<%= page -1 %>">Previous</a></li>
      <li class="page-item
        <% if page == 1 %>disabled
        <% end %>">
        <a class="page-link" href="?page=1" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <% for i in @start..@end do %>
        <li class="page-item
          <% if page == i || (request.params[:page] == nil && i == 1) %>active disabled
          <% end %>"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
      <% end %>
      <li class="page-item
        <% if page == @end %>disabled
        <% end %>">
        <a class="page-link" href="?page=<%= @count / 15 %>" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      <li class="page-item
        <% if page == @end %>disabled
        <% end %>"><a class="page-link" href="?page=<%= page +1 %>">Next</a></li>
    </ul>
  </nav>

  <br>
  <% if isAdmin? %>
    <%= link_to 'New Film', new_film_path, class: 'btn btn-primary' %>
    <%= link_to 'Import Film', import_film_path, class: 'btn btn-primary' %>
  <% end %>
</div>
