<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
			<%= simple_form_for(resource,
													as: resource_name,
													url: session_path(resource_name),
													html: { method: :post, class: "login100-form validate-form" }) do |f| %>
					<span class="login100-form-title p-b-33">
						Account Login
					</span>

				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<%= f.input :login,
											required: false,
											autofocus: true,
											label: false,
											placeholder: "Login",
											label_html: { class: 'hidden'},
											input_html: {
													autocomplete: "Login",
													class: 'input100'
											} %>
					<span class="focus-input100-1"></span>
					<span class="focus-input100-2"></span>
				</div>

				<div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
					<%= f.input :password,
											required: false,
											autofocus: true,
											label: false,
											placeholder: "Mot de passe",
											label_html: { class: 'hidden'},
											input_html: {
													autocomplete: "Mot de passe",
													class: 'input100'
											} %>
					<span class="focus-input100-1"></span>
					<span class="focus-input100-2"></span>
				</div>

				<div class="container-login100-form-btn m-t-20">
					<button class="login100-form-btn">
						Sign in
					</button>
				</div>

				<div class="text-center p-t-45 p-b-4">
						<span class="txt1">
							Forgot
						</span>

					<a href="#" class="txt2 hov1">
						Username / Password?
					</a>
				</div>

				<div class="text-center">
						<span class="txt1">
							Create an account?
						</span>

					<a href="#" class="txt2 hov1">
						Sign up
					</a>
				</div>
			<% end %>
		</div>
	</div>
</div>
