<section class="container">
  <h1>Salon de discussion</h1>
  <table class="table table-striped">
    <thead>
    <th>Nom</th>
    <th>Nb User</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <% if @rooms.present? %>
      <% @rooms.each do |room| %>
      <tr>

        <td><%= room.name %></td>
        <td><%= room.users.count %></td>
        <td>
          <%= link_to 'Show', room %>
          <%= link_to 'Destroy', room, method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      <% end %>
    <% else %>
      <td colspan="3">Pas de salons</td>
    <% end %>
      </tr>
    </tbody>
  </table>

  <%= link_to 'Creer un salon', new_room_path %>
</section>