<section class="container">
  <h1>Nouveau Salon</h1>

  <%= simple_form_for(@room) do |f| %>
    <div>

    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    </div>

    <%= f.input :name, required: true, label: "Nom" %>
    <%= f.input :users, collection: User.all.where.not(id: current_user.id),
                input_html: { multiple: true, class: "select-two" },
                label_method: :username, value_method: :id, include_blank: false, include_hidden: false %>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</section>