<section class="container">

  <h1>
    <%= @room.name %>
  </h1>

  <div class="row">

    <div class="col">
      <div class="chat" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
        <% @room_messages.each do |room_message| %>
          <div class="chat-message-container">
            <div class="row no-gutters">
              <div class="col-auto text-center">
                <%= room_message.user.username %>
              </div>

              <div class="col">
                <div class="message-content">
                  <p class="mb-1">
                    <%= room_message.message %>
                  </p>

                  <div class="text-right">
                    <small>
                      <%= room_message.created_at %>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <%= simple_form_for @room_message, remote: true do |form| %>
        <div class="input-group mb-3">
          <%= form.input :message, as: :string,
                         wrapper: false,
                         label: false,
                         input_html: {
                             class: 'chat-input'
                         } %>
          <div class="input-group-append">
            <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
          </div>
        </div>

        <%= form.input :room_id, as: :hidden %>
      <% end %>
    </div>
  </div>
</section>

<div class="d-none" data-role="message-template">
  <div class="chat-message-container">
    <div class="row no-gutters">
      <div class="col-auto text-center">
        <section data-role="message-user"></section>
      </div>

      <div class="col">
        <div class="message-content">
          <p class="mb-1" data-role="message-text"></p>

          <div class="text-right">
            <small data-role="message-date"></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
