<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <%= link_to 'Videothèque', root_path, class: 'navbar-brand text-white' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="<%= films_path %>">
          <i class="fa fa-movie text-white"></i> Films
        </a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link text-white" href="<%= user_film_index_url %>">
            <i class="fa fa-movie text-white"></i>Mes Films
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="<%= rents_path %>">
            <i class="fa fa-movie text-white"></i>Mes locations
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="<%= rooms_path %>">
            <i class="fa fa-movie text-white"></i>Chat
          </a>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to 'Contact', new_contact_path, class: 'nav-link text-white' %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right"><!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
          <i class="fa fa-user text-white"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <% if !user_signed_in? %>
            <%= link_to 'Connection', new_user_session_path, class: 'dropdown-item' %>
            <%= link_to 'Inscription', new_user_registration_path, class: 'dropdown-item' %>
          <% else %>
            <% if isAdmin? %>
              <%= link_to 'Dashboard', admin_dashboard_path, class: 'dropdown-item' %>
            <% end %>
            <%= link_to 'Profil', edit_user_registration_path, class: 'dropdown-item' %>
            <hr>
            <%= link_to 'Déconnection', destroy_user_session_path, class: 'dropdown-item', method: :delete %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>

<% if notice %>
  <div class="alert alert-success alert-dismissible fade show w-50" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible fade show w-50" role="alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>