<%= simple_form_for [:admin, @user] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <span class="login100-form-title p-b-33">
						 <h2>Profil</h2>

					</span>
  <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
    <%= f.input :email,
                required: false,
                autofocus: true,
                label: false,
                placeholder: "EMail",
                label_html: {class: 'hidden'},
                input_html: {
                    autocomplete: "Email",
                    class: 'input100'
                } %>
    <span class="focus-input100-1"></span>
    <span class="focus-input100-2"></span>
  </div>

  <div class="wrap-input100 rs1 validate-input" data-validate="Username not valid">
    <%= f.input :username,
                required: false,
                autofocus: true,
                label: false,
                placeholder: "Username",
                label_html: {class: 'hidden'},
                input_html: {
                    autocomplete: "Username",
                    class: 'input100'
                } %>
    <span class="focus-input100-1"></span>
    <span class="focus-input100-2"></span>
  </div>

  <div class="wrap-input100 rs1 validate-input" data-validate="Password not valid">
    <%= f.input :password,
                required: false,
                autofocus: true,
                label: false,
                hint: "we need your current password to confirm your changes",
                placeholder: "Mot de passe actuel",
                label_html: {class: 'hidden'},
                input_html: {
                    autocomplete: "Mot de passe actuel",
                    class: 'input100'
                } %>
    <span class="focus-input100-1"></span>
    <span class="focus-input100-2"></span>
  </div>

  <div class="wrap-input100 rs1 validate-input" data-validate="Password not valid">
    <select name="user[role]" id="role" class="form-control">
      <option value="ROLE_ADMIN" <% if @user.role == "ROLE_ADMIN" %> selected <% end %>>Admin</option>
      <option value="ROLE_USER" <% if @user.role == "ROLE_USER" %> selected <% end %>>Utilisteur</option>
    </select>
    <span class="focus-input100-1"></span>
    <span class="focus-input100-2"></span>
  </div>


  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
