<section class="container">
<h1>Editing Admin User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', admin_user_path(@user), class: "btn btn-primary" %> |
<%= link_to 'Back', admin_users_path, class: "btn btn-primary" %>
</section>
