<section class="container">

<h1>Admin Users</h1>

<table class="table-striped table table-hover">
  <thead>
    <tr>
<!--      <td>Nom Prénom</td>-->
      <td>Email</td>
      <td>Username</td>
      <td>Créer le</td>
      <td>Dernière connection</td>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
<!--        <td><%#= user.lastname %> <%#= user.firstname %></td>-->
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= user.created_at.strftime("%d-%m-%Y") %></td>
        <td><%= user.last_sign_in_at ? user.last_sign_in_at.strftime("%d-%m-%Y") : ""%></td>
        <td><%= link_to 'Show', admin_user_path(user) %>
        <%= link_to 'Edit', edit_admin_user_path(user) %>
        <%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_admin_user_path %>
</section>
