<section class="container mt-5">


<table class="table">
  <tr>
<!--    <th>Name:</th>-->
<!--    <td><%#= @user.lastname %> <%#= @user.firstname %></td>-->
  </tr>
  <tr>
    <th>Email:</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>username:</th>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <th>Créer le:</th>
    <td><%= @user.created_at.strftime("%d-%m-%Y") %></td>
  </tr>
  <tr>
    <th>Dernière connection le:</th>
    <td><%= @user.last_sign_in_at.strftime("%d-%m-%Y") %></td>
  </tr>
  <tr>
    <th>Role:</th>
    <td><%= @user.role %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_user_path %>
</section>

